$font-title: "BushidoRegular";
$font-primary: "AnimeAce";
$font-secondary: "GosmickSans";

$color-pink: #eb63a5;
$color-pink-transparent: rgba(253, 121, 184, 0.5);
$color-blue: #68bbe5;
$color-black: #000000;
$color-white: #fff;
