$font-title: "BushidoRegular";
$font-primary: "AnimeAce";
$font-secondary: "GosmickSans";

$color-pink: #b569c7;
$color-pink-transparent: rgba(181, 105, 199, 0.5);
$color-blue: #abc3f4;
$color-blue-transparent: rgba(171, 195, 244, 0.8);
$color-black: #000000;
$color-white: #fff;
$color-error: rgb(192, 12, 12);
$color-success: rgb(16, 155, 16);
